name: CMake Build

on:
  push:
    branches: [master]

  pull_request:
    branches: [master]

  workflow_dispatch:

env:
  PYTHONPATH: "./build/lib/:./mylib/"

jobs:
  build-ubuntu:
    name: Build Ubuntu
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: 2.1. Obtaining OpenSees Source Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install conan
        run: |
          pip install conan
          conan profile detect --force
      - name: matplotlib
        run: pip install matplotlib
      - name: numpy
        run: pip install numpy
      - name: build OpenSees & OpenSeesPy
        run: |
          conan install . --build=missing
          cmake -S . -B build/Release -DCMAKE_TOOLCHAIN_FILE=build/Release/generators/conan_toolchain.cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=$HOME/bin
          cd build/Release
          cmake --build . --target OpenSees -j8
          cmake --build . --target OpenSeesPy -j8
          mkdir openseespy
          mv OpenSeesPy.so openseespy/opensees.so
      - name: Verification OpenSeesPy  # Simple Sanity Test
        run: |
          xvfb-run python3 ./EXAMPLES/ExamplePython/example_ground_motion.py
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
            name: OpenSees_Ubuntu
            path: |
              ground_motion.png
              disp.out
